.action {

}

.toast {
    animation: 1s 5s forwards fadeOut;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 300px;
}

.watchCount {
    position: absolute;
    bottom: 20px;
    right: 20px;
}